<nav class="navbar">
    <div class="navbar-left">
      <ul class="navbar-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/user-management" routerLinkActive="active">User Management</a></li>
        <li><a routerLink="/document-management" routerLinkActive="active">Document Management</a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="navbar-links">
        <li><a (click)="logOut()" style="cursor: pointer;">LogOut</a></li>
      </ul>
    </div>
  </nav>
  