.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #01677E;
  color: #fff;
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.active {
  background: #003340;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
}