<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
          Enter a valid email.
        </div>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password is required.
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <br>
    <span (click)="openSignup()" class="new-user">New User</span>
  </div>
  